<section id="three" class="wrapper style1">
   <div class="container">
      <div class="row">
         <div class="8u">
            <section>
               <h2>Worum geht es</h2>
               <p>Hallo accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
            </section>
         </div>
         <div class="4u">
            <section>
               <h3>&nbsp;</h3>
               <ul class="actions">
                  <li><a href="premium.php" class="button alt">Premiumversion</a></li>
               </ul>
               <ul class="actions">
                  <li><a href="basis.php" class="button alt">Basisversion</a></li>
               </ul>
               <ul class="actions">
                  <li><a href="advertisment.php" class="button alt">Advertisement</a></li>
               </ul>
            </section>
         </div>
      </div>
   </div>
</section>
