body {
    min-width: 1024px;
    overflow: scroll;
    height: 100%;
}

html {
    height: 100%;
}

#calculator .display span {
    float: left;
}

.image.border {
border: 5px #eee solid;
}

.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
/*ADvertisement*/

.dimmed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

.dimmed:after {
    content: " ";
    z-index: -1;
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.dimmed2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

.dimmed2:after {
    content: " ";
    z-index: -1;
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.redirect {
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -100px;
    text-align: center;
    left: 0;
    min-height: 200px;
    color: #fff;
    padding: 100px 0px;
}

div.status {
    background: #000;
    position: absolute;
    right: 0;
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 20px;
}

div.status p {
    text-align: right;
}

.status.countdown {
    top: 0;
}

.status.qa {
    top: 50;
    text-align: center;
}

.status.ra {
    top: 100;
}

.prompt {
    position: absolute;
    top: 50px;
    padding: 10px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.prompt.success {
    background: #dff0d8;
}

.prompt.fail {
    background: #fcf8e3;
}

.prompt.info {
    background: #d9edf7;
}

#skel-layers-hiddenWrapper {
    display: none;
}

#result {
    text-align: center;
    font-weight: bold;
}

.centerText {
    text-align: center;
}

#calculator {
    max-width: 294.313px;
}

.resultbox {
    padding: 6px;
    border-radius: 6px;
    border: solid 1px rgba(144, 144, 144, 0.25);
}

.btn {
    color: #444;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    width: 64px;
    height: 29px;
    text-align: center;
    font-family: Roboto-Regular, helvetica, arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 4.406px;
    padding: auto;
    float: left;
}

.btn.func {
    background-color: #d6d6d6 !important;
}

.btn.equals {
    background-color: #dff0d8;
}

.btn.disabled {
    background-color: #333;
    color: #CCC;
}

.display {
    color: #222;
    background-color: #fff;
    border: 1px solid #dedede;
    max-width: 282.313px;
    text-align: right;
    height: 150px;
    font-family: Roboto-Regular, helvetica, arial, sans-serif;
    font-size: 20px;
    padding: 4px;
    margin: 4.406px;
    overflow-y: scroll;
}

.display p {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    color: #CCC;
}

.display p span {}

.display p:first-child {
    color: #222;
    font-size: 20px;
}

.calc-row {
    min-height: 36.266px;
    max-width: 294.313px;
    min-width: 294.313px;
}
