body {
  min-width: 1024px; overflow: scroll;
}

#result {
    text-align: center; font-weight: bold;
}

.centerText {
    text-align: center;
}

#calculator {
    max-width: 294.313px;
}


.btn {
    color: #444;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    width: 64px;
    height: 29px;
    text-align: center;
    font-family: Roboto-Regular, helvetica, arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 4.406px;
    padding: auto;
    float: left;
}

.btn.func {
    background-color: #d6d6d6 !important;
}

.btn.equals {
    background-color: #dff0d8;
}

.btn.disabled {
    background-color: #333;
    color: #CCC;
}

.display {
    color: #222;
    background-color: #fff;
    border: 1px solid #dedede;
    max-width: 282.313px;
    text-align: right;
    height: 150px;
    font-family: Roboto-Regular, helvetica, arial, sans-serif;
    font-size: 20px;
    padding: 4px;
    margin: 4.406px;
    overflow-y: scroll;
}

.display p {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    color: #CCC;
}

.display p span {}

.display p:first-child {
    color: #222;
    font-size: 20px;
}

.calc-row {
    min-height: 36.266px;
    max-width: 294.313px;
    min-width: 294.313px;
}
/*ADvertisement*/

.dimmed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

.dimmed:after {
    content: " ";
    z-index: -1;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
