{{define "advert"}}
<script>
showAdvertisement = function() {
    var self = {};
    self.counter = 5;
    $('#closeAdvert').attr('disabled', 'disabled');
    $('#advert').show();
    $('#content').addClass('blurred');
    $('#sec').html(self.counter);
    $('#closeAdvert').click(function() {
        $('#advert').hide();
        $('#content').removeClass('blurred');
    });

    self.id = setInterval(function() {
        self.counter--;
        if (self.counter < 0) {
            $('#closeAdvert').removeAttr('disabled');
            clearInterval(self.id);
        } else {
            $('#sec').html(self.counter);
        }
    }, 1000);
};
</script>
<div class="dimmed" id="advert" style="display:none">
    <div class="container">
        <div class="row">
            <div class="8u -2u">
                <br/>
                <br/>
                <section class="special box" style="background-color: #fff">
                    <h1>Advertising</h1>
                    <img src="/public/images/pic03.jpg" alt="" class="image fit" style="cursor: pointer;" />
                    <button class="button" id="closeAdvert">close advertisement (<span id="sec">5</span>)</button>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}
