{{define "advert"}}
<script>
showAdvertisement = function() {
    var self = {};
    self.counter = 3;
    $('#advert').show();
    $('#content').addClass('blurred');
    $('#sec').html(self.counter);

    self.id = setInterval(function() {
        self.counter--;
        if (self.counter < 0) {
            $('#advert').hide();
            $('#content').removeClass('blurred');
            clearInterval(self.id);
        } else {
            $('#sec').html(self.counter);
        }
    }, 1000);
};
</script>
<div class="dimmed" id="advert">
    <div class="container">
        <div class="row">
            <div class="8u -2u">
                <br/>
                <br/>
                <section class="special box" style="background-color: #fff">
                    <h1>Advertising</h1>
                    <a href="#" class="image fit"><img src="/public/images/pic03.jpg" alt="" /></a>
                    <i>The advertising will disappear after <span id="sec">3</span> seconds.</i>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}
