{{define "advert"}}
<script>
$(function() {
    showAdvertisement = function() {
        var self = this;
        self.counter = 5;
        $('#advert').show();
        $('#sec').html(self.counter);

        self.id = setInterval(function() {
            self.counter--;
            if (self.counter < 0) {
                $('#advert').hide();
                clearInterval(self.id);
            } else {
                $('#sec').html(self.counter);
            }
        }, 1000);
    };
    showAdvertisement();
});
</script>
<div class="dimmed" id="advert">
    <div class="container">
        <div class="row">
            <div class="8u -2u">
                <br/>
                <br/>
                <section class="special box" style="background-color: #fff">
                    <h1>Fahre Sie in die Schweiz!</h1>
                    <a href="#" class="image fit"><img src="/public/images/pic03.jpg" alt="" /></a>
                    <i>Werbeanzeige verschwindet in <span id="sec">10</span> Sekunden </i>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}
