{{define "body"}}
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="5u">
                <section>
                    <h3>Bitte lösen Sie folgende Aufgabe.</h3>
                    <section class="special box">
                        {{ .test }}
                    </section>
                    <h5>Aktuelles Taschenrechner Ergebnis:</h5>
                    <p>
                        <div id="result">0</div>
                    </p>
                    <p class="centerText">
                        <input type="button" value="Prüfen" id="check" data-value="1" />
                    </p>
                </section>
            </div>
            <div class="4u -1u">
                {{template "calculator" .}}
            </div>
        </div>
    </div>
</section>
<a href="http://umfragen.ise.tu-darmstadt.de/sosci/freetrialfreemium/?i=asd&password=test&debug=true">weiter</a>
{{end}}
