{{define "body"}}
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="5u">
                <section>
                    <h3>Please use the iCalculator to solve the following exercise.</h3>
                    <section class="special box">
                        <p id="question"></p>
                    </section>
                    <h5>Current iCalculator result</h5>
                    <div class="row">
                        <div class="6u">
                            <p class="centerText resultbox">
                                <span id="result">0</span>
                            </p>
                        </div>
                        <div class="6u">
                            <p class="centerText">
                                <input type="button" value="Submit Result" id="check" />
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="4u -1u">
                {{template "calculator" .}}
            </div>
        </div>
    </div>
</section>
{{template "countdown" .}} {{if .advert}} {{template "advert" .}} {{end}}
<script>
$(function() {
    var timeOutFunction = function() {
        // variables
        var status = getStatus();
        var reference = "{{ .reference }}";

        // baseurl
        var href = "http://umfragen.ise.tu-darmstadt.de/sosci/freetrialfreemium/";

        // parameters
        href += "?i=" + reference;
        href += "&password=test";
        href += "&ra=" + status.rA;
        href += "&qa=" + status.qA;

        location.href = href;
    };
    setTimeout(timeOutFunction, 120000); // 120,000ms eq 3min
});
</script>
{{end}}
