{{define "body"}} {{template "prompt"}}
<section class="wrapper style1" id="content">
    <div class="container">
        <div class="row">
            <div class="5u">
                <section>
                    <h3>Please solve this problem using iCalculator <strong style="font-size: 30px">{{if .basic}}Free{{else}}Premium{{end}}</strong> Version!</h3>
                    <section class="special box">
                        <p id="question"></p>
                    </section>
                    <h5>Your solution from iCalculator:</h5>
                    <div class="row">
                        <div class="7u">
                            <p class="centerText resultbox">
                                <span id="result">0</span>
                            </p>
                        </div>
                        <div class="5u">
                            <p class="centerText">
                                <input type="button" value="Submit" id="check" />
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="5u">
                {{template "calculator" .}}
            </div>
        </div>
    </div>
</section>
<script>
var _advertisementEnabled = {{ .advert }};
var _timeToRedirect = 2;
var _userReference = "{{ .reference }}";
var showAdvertisement;
var app = app();
var intro = intro();
</script>
{{template "status" .}} {{if .advert}} {{template "advert" .}} {{end}}
{{template "intro" .}}
{{end}}
