{{define "intro"}}
<div class="dimmed" id="intro">
    <div class="row">
        <div class="10u -1u">
            <br/>
            <br/>
            <section class="special box" style="background-color: #fff">
                <div class="item site1" style="display:initial;">
                    <h1>Welcome to iCalculator!</h1>
                    <p>You will first receive a quick introduction to iCalculator.</p>
                    <input type="button" value="Continue" onclick="intro.next()" />
                </div>
                <div class="item site2" style="display:none;">
                    <h1>iCalculator - A Quick Introduction</h1>
                    <div class="row">
                        <div class="6u">
                            <img src="/public/images/tut.png" alt="" style="margin:0" class="image fit border" />
                            <i>This is what iCalculator looks like</i>
                        </div>
                        <div class="6u" style="text-align: left">
                            <ul>
                                <li>On the left you see the math problem that you are supposed to solve correctly.</li>
                                <li>Use your mouse to operate iCalculator. Click the digits and operators to type the given math problem.</li>
                                <li><b>AC</b> resets your input (in case you mistyped).</li>
                                <li><b>C</b> allows you to correct only the last digit or operator you clicked.</li>
                                <li><b>=</b> puts your solution into the answer field.</li>
                                <li>Click <b>SUBMIT</b> to see if your solution is correct and proceed to the next math problem.</li>
                            </ul>
                        </div>
                    </div>
                    <input type="button" value="Continue" onclick="intro.next()" />
                </div>
                {{if .features}}
                <div class="item site3" style="display:none;">
                    <h1>You are about to test <b><b>iCalculator Free<b></b>!</h1>
                    <div class="row">
                        <div class="6u">
                            <p>iCalculator Free does not provide the premium feature of exponential operators. Therefore you need to solve exponential terms by multiplying together a number of equal factors.</p>
                            <img src="/public/images/4.png" alt="" class="image fit border" />
                        </div>
                        <div class="6u">
                            <h5>Recap of Exponentiation</h5>
                            <p  style="text-align: left">In case you need help remembering what exponentiation (x<sup>2</sup>, x<sup>3</sup>, x<sup>4</sup> a.s.o.) actually means, have a short reminder:
                                <br>
                                <ul style="text-align: left">
                                    <li>x<sup>2</sup> is equal to x times x</li>
                                    <li>x<sup>3</sup> is equal to x times x times x</li>
                                    <li>x<sup>4</sup> is equal to x times x times x times x</li>
                                    <li>a.s.o.</li>
                                </ul>
                                <h6  style="text-align: left">Example:</h6>
                                <ul style="text-align: left">
                                    <li>10<sup>2</sup> = 100, is equal to 10 x 10</li>
                                    <li>10<sup>3</sup> = 1000, is equal to 10 x 10 x 10</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <input type="button" value="Continue" onclick="intro.next()" />
                </div>
                {{end}}
                <div class="item site4" style="display:none;">
                    <h1>Are you ready to test iCalculator?</h1>
                    <p>Just for fun, make your test a challenge: Try to solve as many problems as possible in 1 minute and 30 seconds. Make sure to stay focused and concentrated, since otherwise mistakes are easily made! </p>
                    <p>For the given mathematical exercises you should solely use iCalculator.</p>
                    <p>After clicking start, your test of iCalculator starts. </p>
                    <input type="button" value="Start" onclick="intro.start()" />
                </div>
            </section>
        </div>
    </div>
</div>
{{end}}
