<html>

<head>
    <title>{{ .title }}</title>
    <meta httpEquiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="/public/lib/jquery.min.js"></script>
    <script src="/public/lib/skel.min.js"></script>
    <script src="/public/lib/skel-layers.min.js"></script>
    <script src="/public/lib/init.js"></script>
    <script src="/public/lib/calculator.js"></script>
    <script src="/public/lib/custom.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/custom.css" />
</head>

<body id="top">
    <div id="root">
        {{template "body" .}}
    </div>
</body>

</html>
