<html>

<head>
    <title>{{ .title }}</title>
    <meta httpEquiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="/public/lib/jquery.min.js"></script>
    <script src="/public/lib/skel.min.js"></script>
    <script src="/public/lib/skel-layers.min.js"></script>
    <script src="/public/lib/init.js"></script>
    <script src="/public/lib/calculator.js"></script>
    <script src="/public/lib/custom.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/custom.css" />
</head>

<body id="top">
    <div id="root">
        {{template "body" .}}
    </div>
    <div class="imprint">

    <p>Fachgebiet Wirtschaftsinformatik: Information Systems & E-Services</p>
<p>Fachbereich 1 - Rechts- und Wirtschaftswissenschaften </p>
<p>Technische Universität Darmstadt &dot; Hochschulstraße 1 &dot; D-64289 Darmstadt | Germany</p>
<p>www.ise.tu-darmstadt.de &dot; Tel. +49 (0)6151 16 4204 &dot; S102 | 245</p>
    </div>
</body>
<script>
window.onbeforeunload = function(e) {
  return 'Are you sure you want to leave?';
};
</script>
</html>
